<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <meta charset="UTF-8">
    <title>User page</title>
    <style>
        body {
            font-size: 120%;
            font-family: Verdana, Arial, Helvetica, sans-serif;
            color: #333366;
        }
    </style>
</head>
<body><h1 th:align="center">Found user</h1>
<div th:align="center"><p><a href="/">Home</a></p>
    <p><a href="/find">Find user</a></p>
</div>
<div>
    <table th:border="1" th:cellpadding="10" th:align="center">
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Lastname</th>
            <th>email</th>
        </tr>
        <tr th:align="center">
            <td th:utext="${user.getId()}"></td>
            <td th:utext="${user.getFirstName()}"></td>
            <td th:utext="${user.getLastName()}"></td>
            <td th:utext="${user.getEmail()}"></td>
        </tr>
        <tr th:align="center">
            <td colspan="2"><a th:href="@{/{id}/edit(id=${user.getId()})}">Edit user</a></td>
            <td colspan="2">
                <form th:method="DELETE" th:action="@{/{id}/edit(id=${user.getId()})}">
                    <input type="submit" value="Delete user">
                </form>
            </td>
        </tr>
    </table>

</div>

</body>
</html>